html, body {height: 100%; padding: 0; margin: 0%; box-sizing: border-box; overflow-y: scroll; left: 0;}

.header-up {height: 55px; display: flex; align-items: center;}

header {padding: .99rem 0; background-color: gray; width: 100%; display: flex;justify-content: space-between;align-items: center;}
.bi {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 30px;
}
nav {width: 100%;}


.section{height: auto;}
.section-1 {width: 100% !important;background-color: #cac2c2;margin-left: 0 !important;
margin-right: 0 !important;min-height: 190px;box-sizing: border-box;}
.block-image {position: relative;width: 250px;height: 250px;border: 4px solid white;
margin: -160px auto 0;border-radius: 100%;}
.imagem-perfil {width: 100%;height: 100%;border-radius: 100%;}


/* --- Box about --- */


/* --- BOTAO ---*/
.box-buttons {justify-content: center; display: flex;}
.button-about1 {min-width: 190px;height: 100px; margin-right: 5px;  display: flex; justify-content: center; align-items: center; }
.button-about2 {min-width: 190px;height: 100px; margin-right: 5px;  display: flex; justify-content: center; align-items: center;}

/* Credits From uiverse.io */
.btn {align-items: center;background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
border: 0;border-radius: 8px;box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;box-sizing: border-box;
color: #FFFFFF;display: flex;font-family: Phantomsans, sans-serif;font-size: 18px;justify-content: center;
line-height: 1em;max-width: 100%;min-width: 140px;padding: 3px;text-decoration: none;user-select: none;
-webkit-user-select: none;touch-action: manipulation;white-space: nowrap;cursor: pointer;transition: all .3s;}
.btn:active,.btn:hover {outline: 0;}
.btn span {background-color: rgb(5, 6, 45);padding: 16px 24px;border-radius: 6px;width: 100%;height: 100%;transition: 300ms;}
.btn:hover span {background: none; }
.btn:active {transform: scale(0.9);}

/* BOX-ABOUT */
.paragraph {text-align: justify;}
.case-paragraph {margin-top: 20px;}
.paragraph-item {width: 80%;border: 1px solid black;padding: 14px;border-radius: 13px;}
.button-about1 {min-width: 190px;height: 100px; margin-right: 5px;}
.button-about2 {min-width: 190px;height: 100px;}
.button-about-item {width: 180px;height: 50px;}
.section-about {display: none;text-align: center; justify-content: center; margin-top: 10px; padding: 1em;}
.box-about-item{width: 90%; padding: 5px;}
.box-about-flex{display: flex; justify-content: center;}
.title-about{text-transform: uppercase; font-size: 26px;}


/* BOX-PROJECTS */
.box-projects{display:none}



/* FOOTER */
.flex-foot {height: auto; display: flex; align-items: flex-end; margin-top: 50px;}
.foot {background-color: rgb(247, 241, 241); width: 100%; height: 130px; text-align: center; padding-top: 1em;}

.redes {width: 100%; text-align: center; display: flex; justify-content: center;}
.redes-text {font-size: 19px;font-weight: 700;text-decoration: underline;text-transform: uppercase;}
.redes-text:hover {text-decoration: none;}

.wrapper {
  display: inline-flex;
  list-style: none;
  width: 100%;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

