html, body {
    height: auto;
    min-height: 100%;
}
.header {
    height: 70px;
}
.header-inter {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100px;
    height: 70px;
}
.menu-icon {
    width: 53px;
    height: 30px;
}
.section{
    min-height: 800px;
    
}

.section-1 {
    width: 100% !important;
    background-color: #f2f2f2;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: 270px;
    box-sizing: border-box;
}

.block-image {
    position: relative;
    width: 250px;
    height: 250px;
    border: 4px solid white;
    margin: -160px auto 0;
    border-radius: 100%;
}

.imagem-perfil {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.paragraph {
    text-align: justify;
}
.case-paragraph {
    margin-top: 20px;
}
.paragraph-item {
    width: 80%;
}

.redes {
    min-width: 100% !important;
    height: 200px;
    margin-top: 30px;
}
.redes-text {
    font-size: 19px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
}
.redes-text:hover {
    text-decoration: none;
}
.git-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.linkedin-image {
    width: 100px;
    height: 100px;
}
.twitter-image {
    width: 110px;
    height: 110px;
}